.modelCardsContainer {
    justify-content: center;
    padding: 16px;
}

.modelCard {
    width: 26rem;
    margin-top: 2rem;
}

.image {
    margin-top: 2rem;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage {
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slideAnimation {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.mainHeader {
    justify-content: center;
    margin-top: 2rem;
}

.aboutCard {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 26rem;
    margin-top: 2rem;
    padding: 16px;
}
