.modelCardsContainer {
    justify-content: center;
    padding: 16px;
}

.modelCard {
    width: 26rem;
    margin-top: 2rem;
}

.image {
    margin-top: 2rem;
}

.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage {
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
}

.aboutCard {
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 26rem;
    margin-top: 2rem;
    padding: 16px;
}
