.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#light {
  background-color: #e2b78c;
}

#dark {
  background-color: #001E45;
}

.switchButton label {
  margin: 10px;
}

#light .switchButton label {
  color: white;
}

#dark .switchButton label {
  color: #78330c;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* #light .App-link {
  color: #78330c
}

#dark .App-link {
  color: white
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#light .cards {
  background-color: #e7dbcf;
}

#dark .cards {
  background-color: #00003f;
}

.topSpacing {
  margin-top: 25px;
}