.stats {
	display: flex;
	border: none;
	padding-top: 50px;
	justify-content: left;
}
.stat {
	display: flex;
	justify-content: left;
	padding: 16px;
}
    
.body {
	display: fit-content;
	margin: 6rem;
	justify-content: center;
}

.col {
	display: flex;
	justify-content: center;
}

.info {
	width: 500px;
}

.text {
	display: flex;
	justify-content: left;
}

.header {
	display: flex;
	justify-content: left;
	margin: 2rem;
	margin-left: 6rem;
	margin-right: 6rem;
}

.image {
	padding: 32px;
	justify-content: center;
	display: flex;
}

.picture {
	width: auto; /* you can use % */
	height: 400px;
}