.list {
    margin: 20px 50px;
}

.pageName {
    margin-bottom: 20px;
}

#light .pageName {
    color: #e7dbcf;
  }
  
#dark .pageName {
    color: #78330c;
  }

/* used for bolding font on hover */
/* tr:hover {
    font-weight: bold;
}

td::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    
    height: 0;
    overflow: hidden;
    visibility: hidden;
} */

tr {
    cursor: pointer;
}

#open {
    color: green;
}

#closed {
    color: red;
}

.model_page_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#light .model_page_pagination {
    background-color: #e7dbcf;
  }
  
  #dark .model_page_pagination {
    background-color: #78330c;
  }

#light .text{
    color: #662716;
}

#dark .text{
    color: #e2b78c;
}